{% extends 'base.html' %}
{% load static %}

{% block body_class %}index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>User Profile</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <h4 style="display: inline-block;"><a href="{% url 'account_logout' %}">Logout</a></h4>
                        <img
                                style="display:inline-block;margin-right:50%; width:200px;"
                                alt="User Pic"
                                src="{% static 'imgs/nobody_m.original.jpg' %}"
                                width="50%"
                                height="50%"
                                id="profile-image1" class="img-circle img-responsive">
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container">
                            <h2>{{ user.get_full_name }}</h2>
                        </div>
                        <hr>
                        <ul class="container details">
                            <li>
                                <p>
                                <span class="glyphicon glyphicon-user one"
                                      style="width:50px;"></span>{{ user.last_name }}
                                </p>
                            </li>
                            <li>
                                <p>
                                    Email:
                                <span class="glyphicon glyphicon-envelope one"
                                      style="width:50px;"></span>{{ user.email }}
                                </p>
                            </li>
                            <li>
                                <p>
                                <span class="glyphicon glyphicon-envelope one"
                                      style="width:50px;">

                                </span> Date Of Joining: {{ user.date_joined }}

                                </p>
                            </li>
                        </ul>
                        <hr>
                        <div class="col-sm-5 col-xs-6 tital "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
